.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  box-sizing: border-box;
  padding: 92px 50px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  font-size: 18px;
  list-style: circle;
  padding-left: 24px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.address__link {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__address {
  justify-self: end;
}

.promo-screen {
  position: relative;
  z-index: 0;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blackout-overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

.promo-screen__title {
  position: relative;
  z-index: 2;
  padding-bottom: 135px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.promo-screen__title-line {
  display: block;
}

.promo-screen__title-line_centered {
  text-align: center;
}

.promo-screen__title-line_right {
  text-align: right;
}

.wide-spacing {
  letter-spacing: 0.6em;
}

.normal-spacing {
  letter-spacing: normal;
}

.promo-screen__footer {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-screen__subtitle {
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.action-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.action-button:hover {
  opacity: 0.8;
}

.auction-items {
  padding: 180px 24px;
}

.auction-items__title {
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.auction-items__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
  padding-bottom: 30px;
}

.auction-items__item {
  flex-basis: 334px;
  flex-grow: 1;
  min-height: 563px;
}

.item-card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.item-card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.item-card__title {
  margin-top: auto;
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.item-card__description {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 1.2;
}

.auction-items__more-link {
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.item-card_theme_movie {
  background-image: url("../images/card-lot-01.jpg");
}
.item-card_theme_book {
  background-image: url("../images/card-lot-02.jpg");
}
.item-card_theme_art {
  background-image: url("../images/card-lot-03.jpg");
}

.about-section {
  padding: 120px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 24px;
}

.about-section__logo-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.about-section__logo-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about-section__logo {
  width: 148px;
}

.about-section__content {
  padding-top: 133px;
}

.about-section__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about-section__text-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.21;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 180px 50px 92px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__menu-link {
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
}