.header {
  padding: 92px 50px;
  box-sizing: border-box;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.header_menu {
  font-size: 18px;
}

.header_menu-list {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  list-style: circle;
  display: flex;
  gap: 33px;
}

.header_menu-item_active {
  list-style-type: none;
}

.header_menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.menu-link_active,
.address-link {
  text-decoration: none;
}

.header_logo {
  display: block;
}

.header_img-logo {
  width: 148px;
  height: 105px;
}

.address {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  max-width: 240px;
}

.header_address {
  justify-self: end;
  text-align: left;
}

.address-list {
  list-style-type: none;
}

.address-link {
  color: inherit;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 757px;
  position: relative;
  z-index: 0;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  inset: 0;
  z-index: 0;
}

.cover_title {
  padding: 165px 50px 135px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.cover_title-text {
  display: block;
}

.cover_title-text_center {
  text-align: center;
}

.cover_title-text_right {
  text-align: right;
}

.spacing {
  letter-spacing: 0.6em;
}

.cover_title-text_right .spacing {
  letter-spacing: 0;
}

.cover_description {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 50px;
  position: relative;
  z-index: 1;
}

.cover_description-text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  min-width: 256px;
  height: 51px;
  cursor: pointer;
}

.bet-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.lots {
  padding: 180px 24px 0;
}

.lots_heading {
  padding-left: 40px;
  margin-bottom: 27px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style-type: none;
}

.lots_card-list-item {
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
  padding: 50px 40px;
}

.card .overlay {
  z-index: 1;
}

.card_title,
.card_text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  position: relative;
  z-index: 2;
}

.card_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots_look-more-link {
  display: inline-block;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.card_type_film { background-image: url("../images/card-lot-01.jpg"); }
.card_type_book { background-image: url("../images/card-lot-02.jpg"); }
.card_type_picture { background-image: url("../images/card-lot-03.jpg"); }

.about {
  padding: 120px 24px 0;
}

.about_column {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 24px;
  align-items: center;
}

.about_logo {
  justify-self: center;
}

.about_logo-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about_logo-image {
  width: 148px;
}

.about_title {
  margin-bottom: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.21;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 180px 50px 92px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer_menu-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer_social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer_social-icon {
  width: 48px;
}

.footer_address {
  justify-self: start;
}
