/* HEADER */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 24px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  font-size: 18px;
  padding-left: 24px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Чтобы ссылки занимали ширину по контенту */
  max-width: 240px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid black;
}

/* COVER */

.cover {
  position: relative;
  z-index: 0;
  padding: 165px 24px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 135px;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 1;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 12px 32px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

/* LOTS */

.lots {
  padding: 180px 24px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  margin-top: auto;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  z-index: 1;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid black;
}

/* ABOUT */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 0 24px 180px;
}

.about__logo-column {
    justify-self: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__text-column {
    margin-top: 100px;
}

.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 1.2;
}

.about__text p:first-child {
  margin-bottom: 25px;
}

/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 0 24px 90px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-list-item {
  padding-bottom: 2px;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}